* {
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2016/10/20/18/35/earth-1756274_1280.jpg);
    background-size: cover;
    padding: 75px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#information {
    display: flex;
    justify-content: space-around;
}

.shell {
    padding: 30px;
    color: white;
    border: 5px solid gold;
}

.image {
    margin-left: 20px;
    padding: 5px;
    color: white;
}

.petname, .petlevel {
    margin: 0;
    text-align: center;
}

.description {
    padding: 30px;
    display: flex;
    align-items: center;
    color: white;
}

.status {
    display: flex;
    justify-content: space-around;
    padding: 0 0 50px;
    color: white;
}

.button {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

iframe {
    pointer-events: none;
}

#myModal {
    color: black;
}

.modal-dialog {
    text-align: center;
}

.modal-header {
    font-size: 60px;
}

.modal-info {
    padding-bottom: 30px;
}

.btn-primary {
    margin: 15px;
    width: 30%;
    display:flex;
    text-align: center;
    justify-content: center;
}
