* {
    box-sizing: border-box;
}

body {
    padding: 75px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#information {
    display: flex;
    justify-content: space-around;
}

.image {
    padding: 5px;
}

.petname, .petlevel {
    margin: 0;
    text-align: center;
}

.description {
    padding: 30px;
    display: flex;
    align-items: center;
}

.status {
    display: flex;
    justify-content: space-around;
    padding: 0 0 50px;
}

.button {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

iframe {
    pointer-events: none;
}

.modal-dialog {
    text-align: center;
}

.modal-header {
    font-size: 60px;
}

.modal-info {
    padding-bottom: 30px;
}

.btn-primary {
    margin: 15px;
    width: 30%;
    display:flex;
    text-align: center;
    justify-content: center;
}
